In [2]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [51]:

# Read in the data
df = pd.read_csv('data/data.csv')
# show the first 5 rows
df.head()

,Tipo,Cidade,Estado,Vagas,Quartos,Area,Banheiros,Preco
0,Casa,São João,Curitiba,10 vagas,4 quartos,1340 m²,10,"R$ 13.000.000,00"
1,Casa,Cacupé,Florianópolis,5 vagas,5 quartos,580 m²,5,"R$ 13.000.000,00"
2,Casa,Alphaville Graciosa,Pinhais,6 vagas,4 quartos,585 m²,1,"R$ 7.950.000,00"
3,Casa,Santa Felicidade,Curitiba,14 vagas,4 quartos,622 m²,7,"R$ 7.800.000,00"
4,Apartamento,Ecoville,Curitiba,0 vaga,4 quartos,380 m²,0,"R$ 7.211.303,00"

In [54]:
# generate descriptive statistics of price column
df['Preco'].describe()

count              4314
unique              819
top       R$ 250.000,00
freq                 81
Name: Preco, dtype: object

In [56]:
columns_to_clean = ['Area', 'Quartos', 'Vagas', 'Preco']

for column in columns_to_clean:
    df[column] = pd.to_numeric(df[column].astype(str).str.replace('[^\d.]', '', regex=True), errors='coerce')

In [57]:
# Show the tree columns with the highest correlation with price
correlation_matrix = df.corr()


# Sort the correlations with "Preco" in descending order and exclude the "Preco" itself
top_correlations = correlation_matrix['Preco'].sort_values(ascending=False)[1:]

# Get the top three correlated columns
top_3_correlated = top_correlations.head(3)

print(top_3_correlated)

Banheiros    0.565352
Quartos      0.447650
Vagas        0.389100
Name: Preco, dtype: float64

C:\Users\Pablo\AppData\Local\Temp\ipykernel_9800\1854479924.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()